[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
scrapy = "*"
ipython = "*"
mongoengine = "*"
pillow = "*"

[requires]
python_version = "3.6"
